In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('austin_weather.csv')
df.head(10)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,
5,2013-12-26,57,48,39,39,36,33,79,63,47,...,30.4,30.34,10,9,7,12,3,17,0,
6,2013-12-27,60,53,45,41,39,37,83,65,47,...,30.39,30.34,10,9,7,7,1,11,T,
7,2013-12-28,62,51,40,43,39,33,92,64,36,...,30.17,30.04,10,10,7,10,2,14,T,
8,2013-12-29,64,50,36,49,41,28,92,76,60,...,30.1,29.99,10,10,4,17,5,24,0,
9,2013-12-30,44,40,35,31,26,21,75,60,45,...,30.33,30.26,10,10,10,13,5,21,0,

In [3]:
df.shape

(1319, 21)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        1319 non-null   object
 1   TempHighF                   1319 non-null   int64
 2   TempAvgF                    1319 non-null   int64
 3   TempLowF                    1319 non-null   int64
 4   DewPointHighF               1319 non-null   object
 5   DewPointAvgF                1319 non-null   object
 6   DewPointLowF                1319 non-null   object
 7   HumidityHighPercent         1319 non-null   object
 8   HumidityAvgPercent          1319 non-null   object
 9   HumidityLowPercent          1319 non-null   object
 10  SeaLevelPressureHighInches  1319 non-null   object
 11  SeaLevelPressureAvgInches   1319 non-null   object
 12  SeaLevelPressureLowInches   1319 non-null   object
 13  VisibilityHighMiles         1319 non-null   object
 14  VisibilityAvgMiles          1319 non-null   object
 15  VisibilityLowMiles          1319 non-null   object
 16  WindHighMPH                 1319 non-null   object
 17  WindAvgMPH                  1319 non-null   object
 18  WindGustMPH                 1319 non-null   object
 19  PrecipitationSumInches      1319 non-null   object
 20  Events                      1319 non-null   object
dtypes: int64(3), object(18)
memory usage: 216.5+ KB

In [5]:
# SQL query used

# SELECT b.*, (b.TempHighF - a.TempHighF) as diff
# FROM austin_weather a INNER JOIN austin_weather b ON b.rowid = a.rowid + 1
# WHERE diff > 10;

In [6]:
new_df = pd.read_csv('austin_weather_exported.csv')
new_df.head(10)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events,diff
0,013-12-31,55,46,36,31,28,23,76,54,32,...,30.27,10,10,10,8,1,12,0,,11
1,014-01-01,69,54,39,51,42,30,83,68,52,...,30.01,10,10,8,13,4,22,0,,14
2,014-01-04,71,57,42,55,48,38,89,68,47,...,29.81,10,10,8,16,7,28,0,,13
3,014-01-07,48,35,22,29,11,4,68,43,17,...,30.36,10,10,10,13,5,22,0,,12
4,014-01-09,70,62,53,60,55,50,93,80,66,...,30.00,10,4,0,12,3,19,0,Fog,17
5,014-01-25,70,48,26,38,27,22,85,53,20,...,30.02,10,10,8,8,1,14,0,,30
6,014-01-30,65,48,31,51,36,20,80,64,48,...,29.90,10,10,10,15,7,27,0,,16
7,014-01-31,80,68,55,59,54,51,86,64,42,...,29.79,10,10,9,14,9,25,0,,15
8,014-02-04,64,53,42,45,41,39,89,68,46,...,29.87,10,6,2,10,2,18,0.15,Rain,18
9,014-02-08,65,51,37,42,36,29,85,63,40,...,30.03,10,7,3,14,5,21,0,,27